{{ define "header" }}
   {{/* We can overide any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
<div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <h1 class="f1">
        {{ .Title }}
      </h1>
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </div>
    </article>
    <aside class="ph3 mt2 mt6-ns">
        {{/* Get the current page's URL so we can compare it to the list below */}}
        {{ $currentPageUrl := .URL }}
        {{/* Get a list of this section's other pages. "RegularPages" excludes the list page    */}}
        {{ $currentSection := (where .Site.RegularPages "Section" .Section) }}
        {{/* Get the number of entries of  $currentSection and subtract 1 */}}
        {{ $i := sub ($currentSection | len) 1 }}
        {{/* So we can only show this menu if there are one or more other entries  */}}
        {{ if ge $i 1 }}
          <div class="bg-light-gray pa3">
            <ul>
              {{ range $currentSection }}
                <li class="list f5 w-100 hover-bg-white nl1">
                  {{/* If the URL returned is the same as the current URL dim it so we know that that's the page we're on. NOTE: Should probably use a more accessible way of displaying this. */}}
                  <a href="{{ .URL }}" class="link ph2 pv2 db black{{ if eq $currentPageUrl .URL }} o-50{{end}}">
                    {{ .Title }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
    </aside>
  </div>
{{ end }}
